Import

In [17]:
import json
import numpy as np
import pandas as pd
import seaborn as sb

data = json.load(open('data/realdonaldtrump.json', 'r'))

Prepare Variables

In [25]:
tweets = []
for key, value in data.items():
    value['created_at'] = key
    tweets.append(value)

df = pd.DataFrame(tweets)
df.head()

,full_text,retweet_count,favorite_count,created_at
0,Join me tomorrow night at 7pmE in Wilkes-Barre...,8961,38653,1024762772733796353
1,....us since the beginning of this crisis.” Th...,13897,68761,1242281185084149762
2,I am officially running for President of the U...,10006,10640,610838591242137600
3,"I have been much tougher on Russia than Obama,...",12569,65832,965943827931549696
4,Not even a “minor” one. Thank you! https://t.c...,9529,37794,1300916103229526017